body {
  background-color: purple;
  color: lightcoral;
  font-family: 'Helvetica', Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"],
input[type="text"],
button {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
}

button {
  background-color: lightcoral;
  color: white;
  cursor: pointer;
}

a button {
  background-color: purple;
  color: lightcoral;
}

a button:hover {
  background-color: lightcoral;
  color: purple;
}





























